# ROS 2 / colcon
build/
install/
log/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# format
*.db3
*.mp4
*.mov
recordings/*
!recordings/README.md

# key
*.pem
*.key
.env
secrets*

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/
